*.kdev4
*.o
*.m
*.deps
!drivers/modules.deps
*.stage1
*.a
.config.cfg
.config
sea_defines.h
sea_defines.inc
*.img
initrd.conf
skernel
tools/mkird
.kdev*
*.1
initrd-*
documentation/built
drivers/built/
arch/include
include/sea/version.h

